* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  width: 5em;
  height: 5em;
  z-index: 100;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  border-color: rgba(255, 255, 255, 0.1);
  font-size: 1rem;
}

.prev:hover,
.next:hover {
  color: black;
  background-color: lightgrey;
  box-shadow: 0 0 15px black;
}

.prev {
  position: absolute;
  top: 50vh;
  left: 10vh;
}

.next {
  position: absolute;
  top: 50vh;
  right: 10vh;
}

.thumbnail-container {
  position: absolute;
  bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 10vw;
  width: 100vw;
}

.thumbnail-container img {
  padding: 1px;
  width: 10vw;
  height: 10vh;
  object-fit: cover;
  gap: 5px;
}

.fullscreen-container {
  display: grid;
  grid-template-columns: 25vh 25vh 25vh 25vh;
  grid-template-rows: 10vh 90vh;
}

.fullscreen-container img {
  width: 100vw;
  height: 100vh;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 2;
  object-fit: cover;
}
